/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the entire page horizontally */
    justify-content: center; /* Center the entire page vertically */
    min-height: 100vh; /* Ensure the page takes up at least the full viewport height */
}

header {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.artists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
	text-align: center;
}

.artist {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

.artist img {
    max-width: 100%;
    max-height: 250px;
    border-radius: 50%;
}

.slider-image {
    display: none;
}

a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #555;
}

/* Style the centered container for artist details */
.centered-container {
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 80%;
    max-width: 600px;
}

